.coffee {
  display: flex;
  flex-direction: column;
  margin: 40px 10px 0px 10px;
  justify-content: center;
  text-decoration: none;
}
.coffee:hover {
  transform: scale(1.08);
}

.details-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 200px;
  height: 170px;
  background-color: #574106;
  border-radius: 5px;
}

.coffee-img {
  width: 200px;
  object-fit: scale-down;
  border-radius: 8px;
}


.coffee-blend-name {
  margin: 0 10px;
  font-size: 15px;
  color: #5bc22f;
  font-weight: 700;
  letter-spacing: 4px;
  text-align: center;
}

@media only screen and (min-width: 602px) and (max-width: 1130px) {
  .coffee {
    width: 40%;
    margin: 10px 10px;
  }
  .details-container {
    width: 100%;
  }
  .blend-name {
    font-size: 13px;
  }
}
@media only screen and (min-width: 602px) and (max-width: 1130px) {
  .details-container {
    display: flex;
    flex-flow: column;
    width: 200px;
    background-color: #574106;
    border-radius: 5px;
  }
  .coffee {
    display: flex;
    flex-direction: column;
    margin: 40px 10px 0px 10px;
    justify-content: center;
    text-decoration: none;
    width: 230px;
  }
}
@media only screen and (max-width: 601px) {
  .coffee-img {
    object-fit: contain;
  }

  .blend-name {
    font-size: 13px;
  }
}
