.coffees-list {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  justify-content: center;
}

@media only screen and (min-width: 602px) and (max-width: 1130px) {
}
@media only screen and (max-width: 601px) {
 
}
