/* .body{
  background-image: url('https://i.pinimg.com/originals/ff/19/a8/ff19a80bdca8fa636b4aa6fdea250fe9.jpg');
} */
.coffees-list {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  justify-content: center;
  width: 70%;
}

@media only screen and (max-width: 601px) {
  /* .promo-ad-img {
  } */
}

@media only screen and (min-width: 602px) and (max-width: 1130px) {
}